<!DOCTYPE HTML>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel='stylesheet'/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<section class="content">
  <div class="container">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
  </div>
</section>
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">
    <a href="https://github.com/slyapustin/heroku-flask">Source Code on Github</a>
  </div>
</footer>
</body>
</html>
