{% extends 'base.html' %}

{% block header %}
  <h1 style="text-align:center">{% block title %}Todo List{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!-- New Todo Card -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">New Todo</h5>

      <form method="POST">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Todo Name"
                 name="name" required>
        </div>
        <button type="submit" class="btn btn-default">
          <i class="fa fa-plus"></i> Add Todo
        </button>
      </form>
    </div>
  </div>

  <!-- Current Todo -->
  {% if todos %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Current Todos</h5>

        <table class="table table-striped">
          {% for todo in todos %}
            <tr>
              <!-- Todo Name -->
              <td class="table-text">{{ todo['name'] }}</td>
              <!-- Delete Button -->
              <td>
                <form action="{{ url_for('todo.delete', id=todo['id']) }}"
                      method="POST">
                  <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash"></i> Delete
                  </button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}
